doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")

		block param
		meta(name="description" content=description)
		meta(name="keywords" content=keywords)
		if pageTitle
			title #{pageTitle}｜#{siteTitle}
			meta(property="og:type" content="article")
			meta(property="og:url" content="https://hogehoge.com/"+ url +"")
			meta(property="og:title" content=""+ pageTitle +"｜"+ siteTitle +"")
			meta(itemprop="name" content=""+ pageTitle +"｜"+ siteTitle +"")
		else
			title #{siteTitle}
			meta(property="og:type" content="website")
			meta(property="og:url" content="https://hogehoge.com/")
			meta(property="og:title" content=siteTitle)
			meta(itemprop="name" content=siteTitle)

		meta(property="og:description" content=description)
		meta(property="og:image" content="")
		meta(property="og:locale" content="ja_JP")
		meta(itemprop="description" content=description)
		meta(itemprop="image" content="")

		//- link(rel="shortcut icon" href="/favicon.ico")
		//- link(rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico")
		//- link(rel="apple-touch-icon" href="/apple-touch-icon.png")

		//- link(rel="preconnect" href="https://fonts.googleapis.com")
		//- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		//- link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap")
		link(rel="stylesheet" href="/assets/css/style.css")
		block style

		script(src="/assets/js/bundle.js" defer)
		block javascript

	body(id=bodyID)
		header.l-header
			.l-wrap
				if pageTitle
					p.l-header__logo: a(href="/") HTML5サイト制作用雛形【ver. No.2019.05.29】
				else
					h1.l-header__logo HTML5サイト制作用雛形【ver. No.2019.05.29】

				//- if pageTitle
				//- 	- var tag = 'p';
				//- else
				//- 	- var tag = 'h1';

				//- #{tag}.l-header__logo HTML5サイト制作用雛形【ver. No.2019.05.29】

				nav.l-nav-utility
					ul
						li: a(href="xxx") よくある質問
						li: a(href="xxx") お問い合わせ
						li: a(href="xxx") サイトマップ

				button.l-nav-menu(type="button" aria-expanded="false" aria-controls="l-nav-global"): span MENU

				nav.l-nav-global(aria-hidden="true")
					.l-nav-global__overlay(aria-expanded="false" aria-controls="l-nav-global")
					.l-nav-global__contents
						.l-nav-global__inner
							ul.l-nav-global__list
								li: a(href="xxx") グローバルナビ
								li: a(href="xxx") グローバルナビ
								li: a(href="xxx") グローバルナビ
								li: a(href="xxx") グローバルナビ
								li: a(href="xxx") グローバルナビ

		main.l-main(role="main")
			block container
				.l-container
					.l-wrap
						block main-contents
							article.l-contents
								block contents

			p.l-pagetop.is-fixed: a(href="#") PAGETOP

		footer.l-footer
			.l-wrap
				.l-nav-footer
					ul
						li: a(href="xxx") グローバルナビ
						li: a(href="xxx") グローバルナビ
						li: a(href="xxx") グローバルナビ
						li: a(href="xxx") グローバルナビ

			p.l-copyright: small Copyright (c) 2022 &nbsp;hogehoge All Rights Reserved.
